<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/add-user}" method="post" th:object="${user}">
		UserName:<input type="text" th:field="*{username}" /><br />
		Password:<input type="text" th:field="*{password}" />
		<p style="color: red">
			<span th:if="${#fields.hasErrors('password')}"
				th:errors="*{password}">..</span>
		</p>
		<input type="submit" value="Submit" />
	</form>
</body>
</html>